/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,aside,footer,header,hgroup,nav,section {
	display: block;
}

a:link {
    text-decoration: none;
}

.shake {
    -webkit-animation-duration:0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}



html, body
{
    height:100%;
    width:100%;
    font-family: "LiHei Pro", "Tahoma";
}



body.application
{
font-family: 'Raleway', Arial, sans-serif;

.clearer
{
    clear:both;
}

background-color: #f7f7f7;
text-align: center;
    

input, textarea {
	font-family: “LiHei Pro Medium”, "微軟正黑體", Arial, sans-serif;
    font-family: 'Raleway', Arial, sans-serif;
}
#container-inner
{
    width:1280px;
    display: inline-block;
}

#main-header
{
    height:170px;
    width:100%;
    border-bottom: #e0e0e0 solid 1px;
    text-align: left;
}
#main-header #logo
{
    background-image: asset-url("logo.png", image);
    background-repeat: no-repeat;
    width:559px;
    height: 53px;
    margin: 117px 0 0 0;
    display: inline-block;
}
#main-menu
{
    height: 61px; 
    width:100%;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}
#main-menu .item
{
    float:left;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 61px;
    cursor: pointer;
}
#main-menu .item.selected, #main-menu .item:hover
{
    background-position:0 -61px;
}
#main-menu .item.index
{
    background-image: asset-url("top_menu/index.png", image);
    width:95px;
}
#main-menu .item.raiders
{
    background-image: asset-url("top_menu/raiders.png", image);
    width:80px;
}
#main-menu .item.tutorial
{
    background-image: asset-url("top_menu/tutorial.png", image);
    width:69px;
}
#main-menu .item.illustrations
{
    background-image: asset-url("top_menu/illustrations.png", image);
    width:77px;
}
    
/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap, #admin-wrap {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin-bottom: 37px;
	background-color: #fff;
    margin-top: 35px;
    width:1280px;
    text-align: left;
}
#comment-wrap #comment-inner, #admin-wrap #admin-inner {
    width:1160px;
    padding:60px;
}
    
.fb-comments
{
     z-index:0;   
}
    
/*------------------------------------------------*/
/*-------------------[Admin FORM]-----------------*/
/*------------------------------------------------*/  
#admin-wrap #admin-title
{
    width:1160px;
    height:52px;
    background-color: #fafafa;
    padding:0 60px 0 60px;
    line-height: 52px;
    text-align: left;
    font-size: 25px;
    color:#333333;
    border-bottom: #e0e0e0 solid 1px;
    font-weight: 300;
    background-image: image-url("admin/tool.png");
    background-repeat: no-repeat;
    background-position: 20px 11px;
}
    
input, textarea
{
    font-size:22px;   
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:none;
    background-color: #e7e7e7;
}
    
input[type="submit"], input[type="button"]
{
    width:auto;    
}
input[type="submit"].create, input[type="button"].create
{
    background-color: #8bcbaf;
    color:#fff;
    background-image: image-url("admin/form/save.png");
    background-repeat: no-repeat;
    padding:5px 7px 5px 32px;
    background-position: 7px center;
    cursor: pointer;
}
input[type="button"].back
{
    background-color: #8bcbaf;
    color:#fff;
    background-image: image-url("admin/form/back.png");
    background-repeat: no-repeat;
    padding:5px 7px 5px 32px;
    background-position: 7px center;
    cursor: pointer;
} 
input[type="button"].delete
{
    background-color: #8bcbaf;
    color:#fff;
    background-image: image-url("admin/form/delete.png");
    background-repeat: no-repeat;
    padding:5px 7px 5px 32px;
    background-position: 7px center;
    cursor: pointer;
} 
input[type="submit"].gray, input[type="button"].gray
{
      background-color: #adadad;  
}
input[type="submit"]:hover, input[type="button"]:hover
{
    color:#fdad00;
}     
input[type="submit"].red, input[type="button"].red
{
      background-color: #e79b91;  
}
    
.flashMessageWrapper
{
    position: fixed;
    width:100%;
    margin-top: 20px;
    z-index: 10;
}

.flashMessageWrapper .flashMessageInner
{
    display: inline-block;
    padding:10px 15px;
    background-color: #beff7e;
    border-radius: 20px;
    font-size:20px;
}
.flashMessageWrapper .flashMessageInner.error
{
    background-color: #ff7e7e;
}  

.flashMessageWrapper .close 
{
    background-image: asset-url("flash_close.png", image);
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    float:right;
    margin:0 0 0 12px;
}  
.flashMessageWrapper .textWrapper
{
    float:left;
}

    


    
@media only screen and ( min-width: 1px ) and ( max-width: 1300px ) {
body:not(.android){     
#main-header
{
    height:53px;
    width:100%;
    #border:blue 1px solid;
    border-bottom:0;
}
#main-header .logo-wrapper
{
    float:left;
    width: calc((100vw) - (106px));
    height:96px;
    #border:red 1px solid;
}
#main-header div.slide-menu-wrapper
{
    float:right;
}
#main-header #logo
{
    background-image: asset-url("mobile_logo.png", image);
    #background-size:contain;
    background-position: left center;
    width: calc((100vw) - (106px));
    height: 96px;
    #border:black 1px solid;
    margin:0;
}
#main-menu
{
    display:none;    
}

#container-inner
{
    width:100%;
    overflow: hidden;
    #border:red 1px solid;
}

#comment-wrap {
	
    width:100vw;
    display: table;
    #border:blue 1px solid;
    text-align: center;
}
  
    
#comment-wrap #comment-inner {
    width: 80%;
    display: inline-block;
   # border:red 1px solid;
    text-align: center;
    margin: 0;
}
    
#admin-wrap {
	
    width:100vw;
    #display: table;
    #border:blue 1px solid;
    text-align: left;
}
    
#admin-wrap #admin-inner {
    width: 80%;
    #display: inline-block;
    #border:red 1px solid;
}
}
}//end of media ( min-width: 1px ) and ( max-width: 1300px )
    
@media only screen and ( min-width: 1px ) and ( max-width: 656px ) 
{
body:not(.android){ 
#main-header #logo
{
    background-size:contain;
} 
}
}
}//end of application






