body.backend
{
table.form_table
{

.profile-wrapper .profile-inner
{
    width:108px;
    height:108px;
    background-color: #999999;
    line-height: 108px;
    text-align: center;
    color: #1f1f1f;
    margin:0 0 0 10px;
}
    
    
}
}