// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.welcome.index
{

#black-featured
{
    height:480px;
    width:100%;
    background-color: #0a0a0a;
    background: radial-gradient(#161616, #1f1f1f, #2d2d2d, #242424);
    padding-top: 58px;
    padding-right: 1px;
}
#black-featured-inner
{
    height:420px;
    width:1160px;
    margin:0 0 0 60px;
    text-align: left;
}
#black-featured #left_area
{
    float:left;
    width:578px;
    height:420px;
}
#black-featured #left_area img
{
    width:578px;
    height:420px;
}
#black-featured #right_area
{
    float:left;
    width:578px;
    height:420px;
    margin:0 0 0 4px;
}
#black-featured #right_area #top_area
{
    float:left;
    width:578px;
    height:208px;
}
#black-featured #right_area #top_area img
{
    width:578px;
    height:208px;
}
#black-featured #right_area #bottom_area
{
    float:left;
    width:578px;
    height:208px;
    margin:4px 0 0 0;
}
#black-featured #right_area #bottom_area #bottom_left_area
{
    float:left;
    width:287px;
    height:208px;
}
#black-featured #right_area #bottom_area #bottom_left_area img
{
    width:287px;
    height:208px;
}
#black-featured #right_area #bottom_area #bottom_right_area
{
    float:left;
    width:287px;
    height:208px;
    margin:0 0 0 4px;
}
#black-featured #right_area #bottom_area #bottom_right_area img
{
    width:287px;
    height:208px;
}

.block-area
{
    float:left;
}

#new_posts
{
    width:638px;
}
#new_posts .header
{
    width:596px;
    height:52px;
    background-color: #fafafa;
    padding:0 0 0 40px;
    line-height: 52px;
    text-align: left;
    font-size: 25px;
    color:#333333;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}

#new_posts .list
{
    text-align: left;
    padding:40px 40px;
    background-color: #fff;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}
#new_posts .list .post
{
    width:598px;
}
#new_posts .list .post:not(:first-child)
{
    margin-top:46px;
}



#new_posts .list .post .img-wrapper
{
    float:left;
    width:160px;
    height:160px;
    overflow: hidden;
}

#new_posts .list .post .img-wrapper img
{
    width:160px;
    height:160px;
}

#new_posts .list .post .content-wrapper
{
    float:left;
    width:360px;
    height:160px;
    overflow: hidden;
    padding-left: 39px;
}
#new_posts .list .post .content-wrapper .title
{
    width:100%;
    height:39px;
    overflow:hidden;
    font-weight:500;
    line-height: 30px;
    font-size: 23px;
    color:#333333;
    font-family: 'Raleway', Arial, sans-serif;
}
#new_posts .list .post .content-wrapper .info
{
    width:100%;
    height:32px;
    line-height: 32px;
    overflow: hidden;
}

#new_posts .list .post .content-wrapper .info .date-box
{
    float:left;
    width:70px;
    text-align: center;
    background-color: #ffc617;
    color: #fff;
    font-family: “LiHei Pro Medium”, "微軟正黑體";
}

#new_posts .list .post .content-wrapper .info .postedby
{
    float:left;
    color: #aaaaaa;
    margin:0 0 0 12px;
}

#new_posts .list .post .content-wrapper .detail
{
    margin:13px 0 0 0;
    color:#3f3f3f;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height:76px;
}

#new_posts .list .post:last-child
{
    padding-bottom:20px;
}

#pets
{
    width:321px;
}
#pets .header
{
    width:281px;
    height:52px;
    background-color: #fafafa;
    padding:0 0 0 40px;
    line-height: 52px;
    text-align: left;
    font-size: 25px;
    color:#333333;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}
#pets .list
{
    width:321px;
    text-align: left;
    background-color: #fff;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}
#pets .list .item
{
    padding:15px 11px;
    width:299px;
    overflow: hidden;
    cursor: pointer;
}
#pets .list .item:not(:first-child)
{
    margin-top:19px;
}

#pets .list .item .img-wrapper .circle-cover
{
    width:93px;
    height:93px;
    position: absolute;
    background-image: asset-url("pets/circle_cover.png", image);
}

#pets .list .item .img-wrapper img
{
    width:98px;
    height:98px;
    margin:-2px 0 0 -2px;
}
#pets .list .item .img-wrapper
{
    float:left;
    width:91px;
    height:92px;
    overflow: hidden;
}
#pets .list .item .content-wrapper
{
    float:left;
    width:188px;
    height:92px;
    margin-left:20px;
    overflow:hidden;
    margin-top:0;
    margin-bottom:0;
    text-align: center;
    display:table;
}
#pets .list .item .content-inner
{
    display:table-cell;
    vertical-align:middle;
    width:188px;
    height:92px;
}
#pets .list .item .content-wrapper .name, #pets .list .item .content-wrapper .rating
{
    width:188px;
    overflow:hidden;
    display:inline-block;
}

#pets .list .item .content-wrapper .name
{
    font-family: “LiHei Pro”;
    font-size: 23px;
    padding-bottom: 4px;
    color:#0a0a0a;
}
#pets .list .item .content-wrapper .rating
{
    padding-top: 4px;
    color: #17c6ff;
    font-family: “LiHei Pro”;
    font-size: 20px;
}
    
#pets .list .item:hover .content-wrapper .name
{
    color:red;
    cursor: pointer;
}
    
#ads1
{
    width:319px;
    background-color: #fff;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
}
#ads1 #ads1-wrapper
{
   padding: 9px;
}

#ads1 #ads1-wrapper #ads-example
{
    width:300px;
    height:250px;
    background-color:#929292;
    line-height: 250px;
    color:#fff;
    font-size: 30px;
} 
    
    
}